p{
    font-family:Garamond;
}
body > p{
    font-weight:bold;}
    div > p{
        color:#7ac5cd;}
        ul li p{
            
                color:#000000;
                text-decoration:underline;}
            

