body{
    background-color:#ff5542;}
h1
{
    font-family:Vivaldi;
    font-size:40px;
    color:khaki;
}
li
{
    color:gray;
    font-size:25px;
    font-family:cursive,Serif;
}
h2{
    font-family:Vivaldi;
    font-size:40px;
    color:khaki;
}
